{% extends '../layout.njk' %}

{%block h%}
    <a href="/admin/recipes" class="">RECEITAS</a>
    <a href="/admin/chefs" class="active">CHEFS</a>
    <a href="/admin/users" class="">USUÁRIOS</a>
{% endblock %}

{% block c %}
    <div class="chef">
        <section class="head">
            <h2>Chef:
                {{items.name}}</h2>
            <div class="buttons">
                <a href="/admin/chefs/{{items.id}}/edit" class="btn">Editar chef</a>
            </div>
        </section>

        <section class="presentation">
            <div class="presentation_image">
                <img src="{{avatar[0].src}}" alt="">
            </div>
            <div class="presentation_titles">
                <h1>{{items.name}}</h1>
                <h3>{{count}}
                    receitas</h3>
            </div>
        </section>

        <div id="recipes_wrapper">
            <h1>Receitas</h1>

            <section class="recipes">

                {% for recipe in recipes %}
                    <div class="recipe_container" id="{{recipe.id}}">
                        <div class="container_image">
                            {% for image in images %}
                                {% if image.recipe_id == recipe.id %}
                                    <img src="{{image.src}}" alt="">
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="container_text">
                            <h3>{{recipe.title}}</h3>
                            <p>{{items.name}}</p>
                            <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
                {%if count == 0 %}
                    <h2>Esse chefe ainda não possui nenhuma receita</h2>
                    {%endif%}
                </section>
            </div>

        {% endblock %}