{% extends '../layout.njk' %}

{%block h%}
    <a href="/admin/recipes">RECEITAS</a>
    <a href="/admin/chefs" class="">CHEFS</a>
    <a href="/admin/users" class="active">USUÁRIOS</a>
{% endblock %}

{% block c %}

    <form class="users" action="./profile?_method=PUT"" method="POST">
        <section class="head">
            <h2>Bem Vindo {{items.name}}</h2>
            <div class="buttons">
                <button class="btn" type="submit">Salvar</button>
            </div>
        </section>

        {% include "./form_profile.njk" %}

    </form>

{% endblock %}
