{% extends '../layout.njk' %}

{%block h%}
    <a href="/admin/recipes" class="active">RECEITAS</a>
    <a href="/admin/chefs" class="">CHEFS</a>
    <a href="/admin/users" class="">USUÁRIOS</a>
{% endblock %}

{% block c %}

    <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
        <section class="head">
            <h2>Criando Receita</h2>
            <div class="buttons">
                <button class="btn" type="submit">Salvar receita</button>
            </div>
        </section>

        {% include "./form.njk" %}

    </form>

{% endblock %}